
<link rel="stylesheet" href="/css/signin.css">

<div class="container" id = "signin-container">

    <div class="h3 text-center text-light">Sign In</div>

    <form action = "/users/create-session" method="post">

    <div class="row my-3">
        <span class="h4 my-2">Email:</span>
        <div class="col"><input type = "email" placeholder="enter your email" name = "email" class="form form-control">
            </div>


    </div>
    <div class="row  my-3">
        <div class="col">
        <span class="h4 my-2">Password:</span>
        <input type = "password" placeholder="enter your password" name = "password" class="form form-control"> 
        </div>


    </div>
    <div class="row my-3">
        <div class="col  "><input type = "submit" value="Sign In" class="btn btn-success"></div>

    </div>

    </form>

    

</div>